@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all 0.3s ease-out;
}

:root {
    --black: #555;
    --light-color: #777;
    --bg: #e9f3fc;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --radius: 0.5rem;
}

::selection {
    color: white;
    background: #F96C03;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
}

.bg {
    background-image: url("../assets/images/latvijaz.jpg");
    background-repeat: no-repeat;
    background-size: 80%; /* Scale down the image to 80% of its original size */
    background-position: center 1.5rem; /* Center horizontally and shift 10rem down vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin-top: 25rem;
    margin-left: 40rem;
}


.l_con{
    overflow: hidden;
    padding: 0;
    width: 28rem;
    height: 21rem;
    display: grid;
    border-radius: 1rem;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.cont1{
    background-color: #FFFBEE;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cont1 .aLv{
    color: #F96C03;
    font-size: 3rem;
    margin-bottom: 2rem;
}


.cont1 h1{
    color: #F96C03;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.cont1 p{
    color: #d1864d;
}

.cont1 input{
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    outline: none;
    padding: 0.65rem;
    margin: 8px 0;
}

.cont1 button{
    width: 80%;
    background-color: #F96C03;
    color: #fff;
    padding: 0.65rem 1rem;
    border-radius: 2rem;
    margin-top: 5px;
    text-align: center;
}

.war{
    margin-top:10px ;
    text-decoration: underline;
}

@media (max-width:1360px){
    .l_con{
        display: block;
        width: 25rem;
        height: 18rem;
    }
    
    .cont1{
        height: 100%;
    }
    
    .bg{
    background-color: #fff;
    background-image: none ;
    margin-left: 0rem ;
    
    }
}